
.bg-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.image-robo {
  width: 400px;
}

.bar-charts-container {
  width: 50%;
}

.pie-charts-container {
  width: 30%;
}

.linechart-container {
  margin: 20px;
  width: 60%;
  border: 2px solid black;
  padding: 30px;
}

.arc-bar-app-container {
  display: flex;
  border-color: #000 solid 1px;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}


@media all and (max-width: 1023px) {
  .content-about-section {
    display: none;
  }

  .bg-container {
    flex-direction: column;
    gap: 30px;
  }

  .arc-bar-app-container {
    flex-direction: column;
    gap: 30px;
  }
  
}